#index .vflick-wrapper {
  width: 300px;
  margin: 0 auto 40px;
  overflow: hidden;
}
#index .vflick-wrapper .vflick {
  width: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
#index .vflick-wrapper .vflick .flick {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 300px;
}
#index .vflick-wrapper .vflick .flick p {
  background: #eee;
  line-height: 300px;
  text-align: center;
  font-size: 70px;
}

#demo .demo-carousel .carousel-wrapper {
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
}
#demo .demo-carousel .carousel-wrapper .vflick {
  width: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
#demo .demo-carousel .carousel-wrapper .vflick .flick {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 300px;
}
#demo .demo-carousel .carousel-wrapper .vflick .flick p img {
  width: 300px;
}
#demo .demo-carousel .controls {
  text-align: center;
}
#demo .demo-carousel .controls .pos {
  display: inline-block;
  vertical-align: 3px;
}
#demo .demo-carousel .controls a {
  display: inline-block;
  font-size: 20px;
  margin: 0 20px;
}
#demo .demo-vertical .slot-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  width: 302px;
  margin: 20px auto;
}
#demo .demo-vertical .slot-wrapper .slot-set {
  width: 75px;
}
#demo .demo-vertical .slot-wrapper .slot-set .vertical-wrapper {
  width: 75px;
  height: 102px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  overflow: hidden;
}
#demo .demo-vertical .slot-wrapper .slot-set .vertical-wrapper .vflick .flick {
  width: 75px;
  height: 100px;
}
#demo .demo-vertical .slot-wrapper .slot-set .vertical-wrapper .vflick .flick p {
  line-height: 100px;
  font-size: 70px;
  text-align: center;
  text-shadow: -1px -1px 1px #ccc;
  border-left: 1px solid #eee;
  border-right: 1px solid #fff;
}
#demo .demo-vertical .slot-wrapper .slot-set .controls a {
  display: block;
  text-align: center;
}
#demo .demo-vertical .result {
  font-size: 30px;
}
